* {
    margin: 0;
    padding: 0;
}
body{
    font-family: "微软雅黑";
    color: #14191e;
}
.main{
    width: 1200px;
    height: 460px;
    margin: 30px auto;
}
/*焦点图*/
.banner{
    width: 1200px;
    height: 460px;
    overflow: hidden;
}
.banner_slide{
    width: 1200px;
    height: 460px;
    float: left;
}
.slide1{
    background-image: url("../img/bg1.jpg");
}
.slide2{
    background-image: url("../img/bg2.jpg");
}
.slide3{
    background-image: url("../img/bg3.jpg");
}